/* Base styles and CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue-300: hsl(246, 25%, 77%);
  --blue-500: hsl(248, 32%, 49%);
  --blue-700: hsl(249, 10%, 26%);
  --white: hsl(0, 0%, 100%);
  --input-border: hsl(0, 0%, 87%);
  --input-color: hsla(249, 10%, 26%, 0.75);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --shadow: 0 8px 0 0 hsla(0, 0%, 0%, 0.15);
  --btn-shadow: 0 -4px 0 0 hsla(0, 0%, 0%, 0.1) inset;
  --btn-hover: hsl(154, 65%, 68%);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: var(--fw-regular);

  background: url("../assets/images/bg-intro-mobile.png"), var(--red);
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 3rem 1.5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  width: 100%;
  max-width: 24rem;
  margin: 0 auto;
}

.intro-content {
  text-align: center;
  color: var(--white);
  margin-bottom: 4rem;
}

.intro-content h1 {
  font-size: 1.75rem;
  font-weight: var(--fw-bold);
  letter-spacing: -0.3px;
  margin-bottom: 1rem;
}

.intro-content p {
  font-size: 1rem;
  font-weight: var(--fw-medium);
}

.promo-banner {
  border-radius: 0.625rem;
  background: var(--blue-500);
  box-shadow: var(--shadow);
  padding: 1.125rem 2.25rem;
  margin-bottom: 1.5rem;
}

.promo-banner p {
  font-size: 0.9375rem;
  letter-spacing: 0.27px;
  color: var(--white);
  text-align: center;
}

.promo-banner p strong {
  font-weight: var(--fw-bold);
}

form {
  padding: 1.5rem;
  border-radius: 0.625rem;
  background: var(--white);
  box-shadow: var(--shadow);
}

.form-group {
  margin-bottom: 1rem;
}

form input {
  width: 100%;
  padding: 1rem 1.25rem;

  border-radius: 0.25rem;
  background: transparent;
  border: 1px solid var(--input-border);
  outline: none;
  caret-color: var(--blue-500);

  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.25px;
}

form input:focus {
  border-color: var(--blue-500);
}

form input::placeholder {
  color: var(--input-color);
}

.form-group output {
  display: none;
  font-size: 0.75rem;
  font-weight: var(--fw-medium);
  text-align: end;
  color: var(--red);
  margin-top: 0.25rem;
}

.form-group.error input {
  border: 2px solid var(--red);
  background: url("../assets/images/icon-error.svg") no-repeat;
  background-position: right 1.75rem center;
  color: var(--red);
}

.form-group.error input::placeholder {
  color: var(--red);
}

.form-group.error output {
  display: block;
}

form button {
  width: 100%;
  padding: 1rem 2rem;

  border-radius: 0.25rem;
  background: var(--green);
  box-shadow: var(--btn-shadow);
  border: none;

  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--white);
  letter-spacing: 1px;
  text-transform: uppercase;

  transition: background 280ms ease-in;
  cursor: pointer;
}

form button:hover {
  background: var(--btn-hover);
}

footer {
  margin-top: 0.5rem;
}

footer p {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--blue-300);
  text-align: center;
}

footer p a {
  text-decoration: none;
  font-weight: 600;
  color: var(--red);
}

@media (min-width: 768px) {
  .container {
    max-width: 32rem;
  }
}

@media (min-width: 1280px) {
  body {
    background: url("../assets/images/bg-intro-desktop.png"), var(--red);
    background-position: center;
  }

  .container {
    max-width: 70rem;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }

  .intro-content {
    text-align: start;
    margin-bottom: 0;
  }

  .intro-content h1 {
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: -0.52px;
    margin-bottom: 1rem;
  }

  .promo-banner {
    padding: 1rem 2rem;
  }

  form {
    padding: 2.5rem;
  }

  .form-group {
    margin-bottom: 1.25rem;
  }

  form input {
    padding: 1rem 2rem;
  }
}
